.DarkTheme {
    &.Header,
    &.Footer {
        background-color: var(--color-dark-theme-black);
        color: var(--color-dark-theme-black-text);
        box-shadow: inset 0 -1px 0 0 var(--color-border-colors);

        li {
            &:hover,
            &:active,
            &:focus {
                color: var(--color-white);
            }
        }
    }

    &.Header {
        background-color: var(--color-dark-theme-black);
    }

    &.main {
        background-color: var(--color-dark-theme-black);
        color: var(--color-dark-theme-black-text);

        .Hero {
            background: rgb(0,0,0);
            background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(17,17,17,0.7707457983193278) 61%, rgba(60,192,204,0.4430147058823529) 100%);

            h1 {

            }
        }
    }

    &.Footer {
        h4 {
            color: var(--color-black);
        }
    }
}
