.Repos {
    background-color: var(--color-dark-theme-black);

    .Card {
        border: 1px solid var(--color-card-border);
        border-radius: var(--radius);
        height: 100%;
        width: auto;

        .Repos {
            &:hover {
                background-color: var(--color-card-hover);
                transition: background-color .25s linear;
            }

            &-link {
            }

            &-title {
                text-transform: capitalize;
            }

            &-meta {
                display: grid;
                grid-template-areas: "stars watchers issues-count"
                                     "topics topics topics";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                row-gap: 0.25rem;
                align-items: center;

                span {
                    border-radius: 4px;
                    font-size: 12px;

                    &:not(.topic) {
                        padding: 0.25rem 0;
                    }
                }
            }

            &-stars {
                grid-area: stars;
            }

            &-watchers {
                grid-area: watchers;
            }

            &-issues-count {
                grid-area: issues-count;
            }

            &-topics {
                grid-area: topics;
            }

            &-topic {
                text-transform: capitalize;
            }

            &-stars,
            &-watchers,
            &-issues-count,
            &-topics {
                svg {
                    width: 16px;
                    margin-inline-end: 8px;
                }
            }

            &-link {
                img {
                    width: var(--logo-width);
                }
            }

            &-external-link {
                width: 24px;
            }
        }
    }
}
