.SingleWebsite {
    border-radius: var(--radius);
    border: 1px solid var(--color-border-colors);

    article {
        @media screen('md') {
            min-height: 176px;
        }
    }

    &-title {
        transition: var(--header-text-transition);

        &:hover,
        &:active,
        &:focus {
            transition: var(--header-text-transition);
            text-decoration: underline;
            color: var(--color-white);
        }
    }

    &-description {}

    &-github {}
    &-production {}

    &-github,
    &-production {
        margin-block-start: 16px;

        p {
            font-size: 12px;
        }

        svg {
            width: 24px;
            height: 24px;
        }

        a {
            &:hover {
                color: var(--color-teal-dark);
            }
        }
    }

    &-thumbnail {
        background-color: var(--color-white);
        height: 180px;
        justify-content: center;
        width: 100%;

        @media screen('md') {
            width: auto;
            height: auto;
            min-width: 232px;
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 8px;
        }

        figure {
            max-width: 180px;
        }

        img {
            width: 100%;
        }
    }

    /** HotFixes */
    &-stitchfix-women,
    &-stitchfix-men,
    &-stitchfix-newsroom,
    &-stitchfix-impact {
        .SingleWebsite-thumbnail {
            figure {
                max-width: 224px;
            }
        }
    }
}
