.SinglePackage {
    border-radius: var(--radius);
    border: 1px solid var(--color-black);

    &-title {}
    &-description {}

    &-package,
    &-homepage,
    &-created,
    &-modified,
    &-bugs {
        p {
            font-size: 12px;
        }

        svg {
            width: 24px;
            height: 24px;
            margin-inline-end: 8px;
        }

        a {
            &:hover {
                color: var(--color-teal-dark);
            }
        }
    }

    &-package {}
    &-npm {}

    &-homepage {}
    &-github {}

    &-created {}
    &-modified {}

    &-created,
    &-modified {
        time {
            font-size: 12px;
        }
    }

    details {
        summary {
            list-style: none;
            cursor: pointer;
            position: relative;
            height: 32px;
        }

        summary::after {
            content: '';
            background-image: url('../images/icons/caret-down.svg');
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            width: 24px;
            height: 100%;
            position: absolute;
            right: 0;
        }
    }

    details[open] summary:after {
        content: '';
        background-image: url('../images/icons/caret-down.svg');
        transform: rotate(180deg);
        transform-origin: center;
    }

    &-bugs {}
    &-issues {}

    &-markdownBody {
        ul {
            list-style: disc;
        }

        pre {
            color: var(--color-white);
            background-color: #282936;
        }
    }
}
