.Skeleton {
    .placeholder {
        background-color: var(--color-light-grey);
        height: var(--logo-height);
        width: 100%;
        border-radius: var(--radius);
        display: block;
        animation: placeholder 1.5s linear infinite alternate;

        @keyframes placeholder {
            0% {
                opacity: 1;
            }

            100% {
                opacity: .5;
            }
        }
    }
}
