.Header {
    --lg-header-height: 70px;

    @media (min-width: 1024px) {
        height: var( --lg-header-height);
    }

    &-logo {

    }

    &-navigation {
        li {
            padding: 0 .5rem;
        }
    }
}
