.SingleFeature {
    --icon-size: 1.5rem;

    border-radius: var(--radius);
    border: 1px solid var(--color-black);

    &-title {}
    &-description {}

    &-thumbnail {
        @screen md {
            width: 100%;
            height: 100%;
            max-width: 348px;
        }

        img {
            width: 100%;
        }
    }

    &-metadata {
        margin-block-start: 1rem;
        gap: .75rem;
    }

    &-github {}
    &-production {}
    &-published {}

    &-github,
    &-production,
    &-published {
        p {
            font-size: 12px;
        }

        svg {
            width: var(--icon-size);
            height: var(--icon-size);

            @screen md {
                --icon-size: 1.2rem;
            }

            @screen lg {
                --icon-size: 1.6rem;
            }
        }

        a {
            &:hover {
                color: var(--color-teal-dark);
            }
        }
    }

    &-builtWith {
        gap: .5rem;
        flex-wrap: wrap;

        p {
            font-size: 12px;
        }

        figure {
            width: var(--icon-size);
            height: var(--icon-size);
        }
    }
}
