/* https://tailwindcss.com/docs/using-with-preprocessors#build-time-imports */
@import './common/base.css';
@import './common/icons.css';
@import './layouts/dark-theme.css';
@import './components/card.css';
@import './components/skeleton.css';
@import './sections/header.css';
@import 'sections/hero.css';
@import 'sections/footer.css';
@import 'pages/home/home.css';
@import 'pages/page-404.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-teal: rgba(60, 192, 204, 1);
    --color-teal-light: rgba(60, 192, 204, .5);
    --color-purple: rgba(173, 0, 173, 1);
    --color-purple-light: rgba(195, 15, 160, 1);
    --color-dark-grey: rgba(0, 0, 0, .10);
    --color-light-grey: rgb(183, 183, 183);
    --color-black: #888888;
    --color-white: #ffffff;
    --color-animation-fill: #4a4a4a;
    --color-animation-stroke: #4a4a4a;

    /* Dark theme */
    --color-dark-theme-white: hsla(0, 0%, 93%, 1);
    --color-dark-theme-black: hsla(0, 0%, 0%, 1);

    /* Common */
    --font-stack: 'Playfair Display', Arial, Hevetica, sans-serif;
    --font-secondary-stack: 'Ubuntu', Arial, Hevetica, sans-serif;
    --radius: 8px;
    --logo-width: 24px;
    --logo-height: 24px;

    /* Card */
    --color-card-border: #333333;
    --color-card-hover: rgba(255, 255, 255, .05);
}
