.Home {
    /* Aspirations */
    &-exploreDiscoverCodeSection {
        margin: 3px auto;
    }

    &-exploreDiscoverCode {
        position: relative;
        height: 12vh;
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;

        @media screen('md') {
            height: 20vh;
        }

        @media screen('lg') {
            height: 30vh;
        }
    }

    &-exploreDiscoverCodeExplorePath,
    &-exploreDiscoverCodeDiscoverPath,
    &-exploreDiscoverCodeCodePath {
        fill: transparent;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    &-exploreDiscoverCodeExploreGroup {
        background-color: var(--color-teal-light);
    }

    &-exploreDiscoverCodeDiscoverGroup {
        background: var(--color-teal);
    }

    &-exploreDiscoverCodeCodeGroup {
        background-color: var(--color-teal-light);
    }
}
