@import 'built-with.css';
@import 'explore-discover-code.css';
@import 'portal.css';
@import 'animation-area.css';

.Home {
    /* Hero */
    &-heroContainer {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;

        @media screen('lg') {
            background-position: center center;
        }

        #Home-headerHexagon,
        #Home-headerTriangle {
            opacity: 0;
            fill: transparent;
            stroke: var(--color-animation-stroke);
            stroke-width: 10;
            stroke-miterlimit: 10;
        }

        .Home-headerMysticTextPath {
            fill: transparent;
            stroke-miterlimit: 10;
            stroke-width: 2.5;
        }
    }

    &-heroSVG {
    }

    &-threeSVG {
        width: 30%;
        height: auto;
        margin: auto;

        @media screen('sm') {
            width: 20%;
        }

        @media screen('md') {
            width: 50%;
        }
    }
}
