@import 'built-with.css';
@import 'explore-discover-code.css';
@import 'portal.css';
@import 'animation-area.css';

.Home {
    /* Hero */

    &-heroContainer {
        background-repeat: no-repeat;
        background-size: cover;

        #homePageHeaderHexagon,
        #homePageHeaderTriangle {
            opacity: 0;
            fill: transparent;
            stroke: var(--color-animation-stroke);
            stroke-width: 10;
            stroke-miterlimit: 10;
        }

        .headerMysticTextPath {
            fill: transparent;
            stroke-miterlimit: 10;
            stroke-width: 2.5;
        }
    }

    &-heroSVG {}

    &-threeSVG {
        width: 40%;
        height: auto;
        margin: auto;

        @media screen('md') {
            width: 50%;
        }
    }
}
