.Footer {
    &-navigation {
        li {
            padding: 0 0.5rem;
            color: var(--color-black);
            transition: all .25s linear;

            &:hover {
                transition: all .25s linear;
            }
        }

        a {
            font-family: var(--font-stack);
        }
    }

    &-links {
        svg {
            height: 40px;
            width: 40px;
        }
    }
}
