.Footer {
    &-navigation {
        li {
            padding: 0 0.5rem;
            color: var(--color-black);
            transition: var(--header-text-transition);

            &:hover {
                transition: var(--header-text-transition);
            }
        }

        a {
            font-family: var(--font-stack);
        }
    }

    &-links {
        svg {
            height: 40px;
            width: 40px;
        }
    }

    &-contact {
        a {
            color: var(--color-teal-dark);
        }
    }
}
