.Header {
    --lg-header-height: 60px;
    --header-color: var(--color-white);

    background-color: var(--header-color);
    font-family: var(--font-stack);

    @media (min-width: 1024px) {
        height: var(--lg-header-height);
        top: calc(0px + var(--wp-admin--admin-bar--height))
    }

    &-logo {}

    &-navigation {
        li {
            padding: 1rem 0.5rem;
            color: var(--color-black);
            cursor: pointer;
            transition: all .25s linear;

            &:hover {
                transition: all .25s linear;
            }
        }

        a {
            font-family: var(--font-stack);
        }
    }
}
